apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: immich
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`gallery.buergerhoff.com`)
      services:
        - kind: Service
          name: immich-server
          port: 2283
          passHostHeader: true
          responseForwarding:
            flushInterval: 1ms
          scheme: http
  tls:
    certResolver: main
