apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-dashboard
spec:
  routes:
    - match: Host(`traefik.buergerhoff.local`)
      kind: Rule
      services:
        - name: api@internal
          kind: TraefikService
