apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  project: default
  source:
    path: traefik
    repoURL: https://github.com/VerticalVeith/homelab
    targetRevision: HEAD
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
