apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cloudnativepg
  namespace: argocd
spec:
  destination:
    namespace: cnpg-system
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://cloudnative-pg.github.io/charts
    chart: cloudnative-pg
    targetRevision: 0.27.0
    helm:
      valuesObject:
        nodeSelector:
          node-role.kubernetes.io/control-plane: "true"
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true