apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: factorio
  namespace: argocd
spec:
  destination:
    namespace: factorio
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: factorio-server-charts
    repoURL: https://sqljames.github.io/factorio-server-charts
    targetRevision: 2.5.2
    helm:
      valuesObject:
        persistence:
          storageClassName: local-data
          enabled: true
          accessMode: ReadWriteOnce

        factorioServer:
          enable_space_age: true
          require_user_verification: true
          port: 34197

        service:
          type: ClusterIP
          port: 34197
          ipFamilyPolicy: RequireDualStack
          ipFamilies:
            - IPv4
            - IPv6

  syncPolicy:
    syncOptions:
      - CreateNamespace=true
