apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich-deps
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  destination:
    namespace: immich
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://github.com/VerticalVeith/homelab
    targetRevision: HEAD
    path: manifests/apps/immich/install
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
