apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich
  namespace: argocd
spec:
  destination:
    namespace: immich
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: immich
    repoURL: ghcr.io/immich-app/immich-charts
    targetRevision: 0.10.3
    helm:
      valuesObject:
        machine-learning:
          enabled: true
          controllers:
            main:
              containers:
                main:
                  image:
                    tag: v2.5.6
        server:
          controllers:
            main:
              containers:
                main:
                  image:
                    tag: v2.5.6
                  env:
                    DB_HOSTNAME:
                      valueFrom:
                        secretKeyRef:
                          name: cluster-immich-app
                          key: host
                    DB_USERNAME:
                      valueFrom:
                        secretKeyRef:
                          name: cluster-immich-app
                          key: user
                    DB_PASSWORD:
                      valueFrom:
                        secretKeyRef:
                          name: cluster-immich-app
                          key: password
                    DB_DATABASE_NAME:
                      valueFrom:
                        secretKeyRef:
                          name: cluster-immich-app
                          key: dbname
        immich:
          persistence:
            library:
              existingClaim: immich-library-pvc
        valkey:
          enabled: true
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
