apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: proxmoxcsi
  namespace: argocd
spec:
  destination:
    namespace: csi-proxmox
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: oci://ghcr.io/sergelogvinov/charts/proxmox-csi-plugin
    chart: proxmox-csi-plugin
    targetRevision: 0.5.1
    helm:
      valuesObject:
        config:
          clusters:
            - url: https://192.168.12.220:8006/api2/json
              insecure: true
              token_id: "kubernetes-csi@pve!csi"
              token_secret: "ff39049b-85b7-4028-821a-f9c763bb202c"
              region: home

        # Deploy CSI controller only on control-plane nodes
        nodeSelector:
          node-role.kubernetes.io/control-plane: true
        tolerations:
          - key: node-role.kubernetes.io/control-plane
            operator: Exists
            effect: NoSchedule

        # Define storage classes
        # See https://pve.proxmox.com/wiki/Storage
        storageClass:
          - name: proxmox-lvm
            storage: local-lvm
            reclaimPolicy: Delete
            fstype: xfs
  syncPolicy:
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
    syncOptions:
      - CreateNamespace=true
