apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: argo-cd
    repoURL: https://argoproj.github.io/argo-helm
    targetRevision: 9.1.3
    helm:
      valuesObject:
        configs:
          params:
            priorityClassName: cluster-critical
            controller.sync.timeout.seconds: 900
            controller.status.processors: 50
            controller.operation.processors: 30
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    managedNamespaceMetadata:
      annotations:
        argocd.argoproj.io/sync-options: Prune=false, Delete=false
