name: Renovate
on:
  schedule:
    - cron: '0 0 * * 3,6'
  workflow_dispatch: {}
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          private-key: ${{ secrets.private_key }}
          app-id: ${{ secrets.app_id }}
          owner: ${{ github.repository_owner }}
          repositories: |
            homelab

      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v46.0.2
        with:
          configurationFile: .github/renovate-config.json
          token: '${{ steps.get_token.outputs.token }}'
